<div class="welcom">コメカ</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_with(model: @comment, local: true) do |f| %>

      <%= f.label :to %>
      <%= f.select(:user_id, User.all.map {|user|[user.name, user.id] }, {prompt: "Select User"}, {class: "form-control"}) %>
      
      <%= f.label :From %>
      <%= f.text_field :from, class: "form-control" %>
      
      <%= f.label :良かった点 %>
      <%= f.text_field :goodpoint, class: 'form-control formcont' %>

      <%= f.label :改善点 %>
      <br>
      <%= f.text_field :badpoint, class: "form-control formcont" %>
      <br>
      <%= f.label :なんでも %>
      <%= f.text_field :free, class: 'form-control formcont' %>

      
      <%= f.submit "登録", class: "btn btn-primary signinbtn" %>
      <br>
    <% end %>
    <%= link_to :back do %>
        <h5 class="return">戻る</h5>
    <% end %>
  </div>
</div>
</div>