<div class="welcom">コメントカード作成</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_with(model: @comment, local: true) do |f| %>

      <%= f.label :to %>
      <%= f.select(:user_id, User.all.map {|user|[user.name, user.id] }, {prompt: "送る相手を選択してください"}, {class: "form-control"}) %>
      <br>
      <%= f.label :From %>
      <%= f.text_field :from, class: "form-control" %>
      <br>
      <%= f.label :ここがよかった！ %>
      <%= f.text_area :goodpoint, class: 'form-control formcont' %>

      <%= f.label :改善点 %>
      
      <%= f.text_area :badpoint, class: "form-control formcont" %>

      <%= f.label :フリースペース %>
      <%= f.text_area :free, class: 'form-control formcont' %>

      
      <%= f.submit "送信", class: "btn btn-primary signinbtn" %>
      <br>
    <% end %>
    <%= link_to :back do %>
        <h5 class="return">戻る</h5>
    <% end %>
  </div>
</div>
</div>