<h1>登録者一覧</h1>
<%= link_to "新着カルテはこちら", activities_path %>
<% if @users.any? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">名前</th>
            <th scope="col">学年</th>
            <th scope="col">メール</th>
          </tr>
        </thead>
         <% @users.each do |user| %>
      <tbody>
          <tr>
            <th scope="row"><%= link_to user.name, user_path(user) %></th>
            <td><%= user.grade %></td>
            <td><%= user.email %></td>
          </tr>    
      </tbody>
         <% end %> 
     </table>
<% end %>
<%= paginate @users %>


