<div class="welcomepage">
<div class="welcom">カルテ登録</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control formcont' %>


      <%= f.label :メールアドレス（任意）%>
      <%= f.email_field :email, class: 'form-control formcont' %>
      <%= f.label :学年 %>
      <br>
      <%= f.select :grade, [['１年生', 1], ['２年生', 2], ['３年生', 3], ['４年生', 4], ['それ以上', 5]], class: 'form-control formcont'%>
      <br>
      <%= f.label :パスワード, class: "fp" %>
      <%= f.password_field :password, class: 'form-control formcont' %>

      <%= f.label :パスワード（確認用）%>
      <%= f.password_field :password_confirmation, class: "form-control formcont" %>
      
      <%= f.submit "登録", class: "btn btn-primary signinbtn" %>
      <br>
      <div class="btn back-btn">
        <%= link_to "戻る", login_path %>
      </div>
    <% end %>
  </div>
</div>
</div>