<h1 class="username">
  <%= @user.name %>
</h1>
  <% if @user.activities.any? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">活動</th>
            <th scope="col">日付</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
          </tr>
        </thead>
         <% @activities.each do |act| %>
      <tbody>
          <tr>
            <th scope="row"><%= link_to act.title, activity_path(act.id) %></th>
            <td><%= act.date %></td>
            <td><%= link_to "編集", edit_activity_path(act.id) %></td>
            <% if current_user?(act.user) %>
            <td><%= link_to "削除", act, method: :delete,
                                       data: { confirm: "削除してよろしいですか？" } %></td>
            <% end %>
          </tr>    
      </tbody>
         <% end %> 
     </table>
  <% end %>
<% if @user == current_user %>
  <div class="newkalte">
    <%= link_to "カルテを追加", new_activity_path %>
  </div>
  <div class="newkalte">
    <%= link_to "コメカを書く", new_comment_path %>
  </div>
  <div class="newkalte">
    <%= link_to "もらったコメカをみる", comments_path(user_id: current_user.id) %>
  </div>
  <div class="logout">
    <%= link_to "ログアウト", logout_path, method: :delete %>
  </div>
  <div class="logout">
    <%= link_to "同時録画を見る", archive_path %>
  </div>
<% end %>
<% if current_user.admin? %>
  <div class="toall">
    <%= link_to "一覧へ", users_path %>
  </div>
<% end %>