<div class="kaltetitle">カルテを追加</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_with(model: @activity, local: true) do |f| %>

      <%= f.label :活動名 %>
      <%= f.select :title, [["わんちゃんMC", "わんちゃんMC"],["まじかMC", "まじかMC"],["はてなぼっくすMC", "はてなぼっくすMC"],["にこいちMC", "にこいちMC"],["ソロ充MC", "ソロ充MC"],["セルフMC", "セルフMC"]], include_blank: "選択してください" %>
      <br>
      <%= f.label :日時 %>
      <br>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :基礎目標 %>
      <br>
      <%= f.select :basetarget, [["姿勢", "姿勢"],["摩擦", "摩擦"],["タダナラ","タダナラ"],["イ段・拗音","イ段・拗音"],["拍乱れを防ぐ","拍乱れを防ぐ"],["撥音・促音","撥音・促音"],["無声化", "無声化"],["腹式呼吸", "腹式呼吸"],["アクセント", "アクセント"],["長音化", "長音化"],["マイク位置","マイク位置"]], include_blank: "基礎目標を選んでください", class: 'form-control' %>
      <br>
      <%= f.label :基礎コメント、反省点 %>
      <%= f.text_area :basecomment, class: 'form-control', placeholder: "コメントを書き込もう" %>
      <%= f.label :表現目標 %>
      <br>
      <%= f.select :extarget, [["トーン変化", "トーン変化"],["声量変化", "声量変化"],["間", "間"],["スピード変化", "スピード変化"]], include_blank: "表現目標を選んでください", class: 'form-control' %>
      <br>
      <%= f.label :表現コメント、反省点 %>
      <%= f.text_area :excomment, class: 'form-control', placeholder: "コメントを書き込もう" %>
      <%= f.label :司会目標 %>
      <br>
      <%= f.select :mctarget, [["ゲスト応対", "ゲスト応対"],["観客を巻き込む", "観客を巻き込む"],["トークバランス", "トークバランス"],["公共意識を持つ力", "公共意識を持つ力"],["話をまとめる力", "話をまとめる力"],["番組企画書に基づいた進行をする力", "番組企画書に基づいた進行をする力"]], include_blank: "司会目標を選んでください", class: 'form-comtrol' %>
      <br>
      <%= f.label :司会コメント、反省点 %>
      <%= f.text_area :mccomment, class: 'form-control', placeholder: "コメントを書き込もう" %>

      <%= f.label :感想 %>
      <%= f.text_area :impression, class: 'form-control', placeholder: "感想等何でもどうぞ！" %>

      <div class="text-center touroku">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
      <%= link_to :back do %>
        <h5 class="return">戻る</h5>
      <% end %>
    <% end %>

  </div>
</div>