<h1><%= @activity.title %><h1>
  <div class="col-sm-4">
    <h2><%= "基礎目標" %></h2>
    <h3><%= @activity.basetarget %></h3>
    <br>
    <h2><%= "コメント" %></h2>
    <% if @activity.basecomment.present? %>
      <h3><%= @activity.basecomment %></h3>
    <% else %>
      <h3><%= "コメントを書き込もう" %></h3>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h2><%= "表現目標" %></h2>
    <h3><%= @activity.extarget %></h3>
    <br>
    <h2><%= "コメント" %></h2>
    <% if @activity.excomment.present? %>
      <h3><%= @activity.excomment %></h3>
    <% else %>
      <h3><%= "コメントを書き込もう" %></h3>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h2><%= "司会目標" %></h2>
    <h3><%= @activity.mctarget %></h3>
    <br>
    <h2><%= "コメント" %></h2>
    <% if @activity.mccomment.present? %>
      <h3><%= @activity.mccomment %></h3>
    <% else %>
      <h3><%= "コメントを書き込もう" %></h3>
    <% end %>
  </div>
  <div class="feedback">
    <h1>ゼミスタからのコメント</h1>
    <%= @activity.fb %>
  </div>
  <%= link_to "編集", edit_activity_path(@activity) %>
  <%= link_to :back do %>
    <button class="return">戻る</button>
  <% end %>
