<h3 class="username"><%= @activity.title %><h3>
<% if @date.present? %>
  <h5 class="actday" ><%= @date.strftime("%m月%d日") %></h5>
<% end %>
  <div class="row">
  <div class="col-sm-4">
    <h5 class="target"><%= "基礎目標" %></h5>
    <h4 class="targetname"><%= @activity.basetarget %></h4>
    <h5 class="comment"><%= "コメント/反省・改善点" %></h5>
    <% if @activity.basecomment.present? %>
      <h4 class="commentcontent"><%= @activity.basecomment %></h4>
    <% else %>
      <h4 class="commentcontent"><%= "コメントを書き込もう" %></h4>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h5 class="target"><%= "表現目標" %></h5>
    <h4 class="targetname"><%= @activity.extarget %></h4>
    <h5 class="comment"><%= "コメント/反省・改善点" %></h5>
    <% if @activity.excomment.present? %>
      <h4 class="commentcontent"><%= @activity.excomment %></h4>
    <% else %>
      <h4 class="commentcontent"><%= "コメントを書き込もう" %></h4>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h5 class="target"><%= "司会目標" %></h5>
    <h4 class="targetname"><%= @activity.mctarget %></h4>
    <h5 class="comment"><%= "コメント/反省・改善点" %></h5>
    <% if @activity.mccomment.present? %>
      <h4 class="commentcontent"><%= @activity.mccomment %></h4>
    <% else %>
      <h4 class="commentcontent"><%= "コメントを書き込もう" %></h4>
    <% end %>
  </div>
  </div>
  <h5 class="impmark">感想</h5>
  <h4 class="imp">
    <%= @activity.impression unless @activity.impression.nil?%>
  </h4>
  <div class="feedback">
    <h5 class="fbcomment">ゼミスタからのコメント</h5>
    <h4 class="fbcontent">
      <%= @activity.fb unless @activity.fb.nil? %>
    </h4>
  </div>
  <div class="editbuttun">
    <%= link_to "編集", edit_activity_path(@activity) %>
  </div>
  <div class="butn">
    <%= link_to "ユーザページへ", user_path(@activity.user) %>
  </div>
  <% if current_user.admin? %>
    <%= link_to :back do %>
      <p class="return">戻る</p>
    <% end %>
  <% end %>