<h1 class="acttitle"><%= @activity.title %><h1>
<% if @date.present? %>
  <h3 class="actday" ><%= @date.strftime("%m月%d日") %></h3>
<% end %>
  <div class="row">
  <div class="col-sm-4">
    <h3 class="target"><%= "基礎目標" %></h2>
    <h2 class="targetname"><%= @activity.basetarget %></h3>
    <h3 class="comment"><%= "コメント" %></h3>
    <% if @activity.basecomment.present? %>
      <h2 class="commentcontent"><%= @activity.basecomment %></h2>
    <% else %>
      <h2 class="commentcontent"><%= "コメントを書き込もう" %></h2>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3 class="target"><%= "表現目標" %></h2>
    <h2 class="targetname"><%= @activity.extarget %></h3>
    <h3 class="comment"><%= "コメント" %></h3>
    <% if @activity.excomment.present? %>
      <h2 class="commentcontent"><%= @activity.excomment %></h2>
    <% else %>
      <h2 class="commentcontent"><%= "コメントを書き込もう" %></h2>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3 class="target"><%= "司会目標" %></h2>
    <h2 class="targetname"><%= @activity.mctarget %></h2>
    <h3 class="comment"><%= "コメント" %></h3>
    <% if @activity.mccomment.present? %>
      <h2 class="commentcontent"><%= @activity.mccomment %></h2>
    <% else %>
      <h2 class="commentcontent"><%= "コメントを書き込もう" %></h2>
    <% end %>
  </div>
  </div>
  <h3 class="impmark">感想</h4>
  <h2 class="imp">
    <%= @activity.impression unless @activity.impression.nil?%>
  </h2>
  <div class="feedback">
    <h3 class="fbcomment">ゼミスタからのコメント</h3>
    <h2 class="fbcontent">
      <%= @activity.fb unless @activity.fb.nil? %>
    </h2>
  </div>
  <div class="editbuttun">
    <%= link_to "編集", edit_activity_path(@activity) %>
  </div>
  <div class="butn">
    <%= link_to "ユーザページへ", user_path(@activity.user) %>
  </div>
  <% if current_user.admin? %>
    <%= link_to :back do %>
      <h5 class="return">戻る</h5>
    <% end %>
  <% end %>